In [1]:
import pandas as pd

In [4]:
# read data set
df = pd.read_csv("Unclean data-set/students_data.csv")

In [5]:
# show data set
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     jane smith  16.0  female    11        75.0           NaN
1          101       John Doe  16.0    Male  10th        74.0            95
2          102       Chris P.   NaN    MALE    10         NaN       missing
3          103     jane smith  16.0  FEMALE    10         NaN       missing
4          104    Sara O'Neil  16.0    male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       ali Khan  17.0  female    11        64.0           NaN
7          107    Sara O'Neil  17.0  female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  female    12         NaN       missing
10         110      lucy gray  17.0    male  11th        65.0            67
11         111   Simran Singh  16.0  FEMALE  11th         NaN       missing
12         112       Patel R.  17.0  female    11         NaN            87
13         113       Patel R.  17.0    male    10         NaN           NaN
14         114       Ali Khan  17.0    male    12         NaN            91
15         115      Lucy gray  16.0  Female    12        65.0            91
16         116       Chris P.   NaN  Female    11         NaN           NaN
17         117       Ali Khan  18.0    male  11th        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    MALE  11th        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  female    11        66.0            72
22         122    Sara O'Neil  17.0    MALE  11th        75.0           NaN
23         123     jane smith  17.0  Female  11th         NaN       missing
24         124       John Doe  18.0    MALE  11th         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe   NaN    Male  10th        64.0       missing
27         127   Simran Singh  16.0  FEMALE    12         NaN            76
28         128    Sara O'Neil  17.0  female    11         NaN            64
29         129       Patel R.  17.0    male    11         NaN            64
30         129       Patel R.  17.0    male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average
30             83    2022/06/11            Average

In [ ]:
# show information and summary about data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [7]:
# check duplicate values
#if return false => duplicate value is not there
#if return true => duplicate value is there
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
dtype: bool

In [8]:
# remove duplicate value
df.drop_duplicates()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [9]:
# save  data set after remove
df = df.drop_duplicates()
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     jane smith  16.0  female    11        75.0           NaN
1          101       John Doe  16.0    Male  10th        74.0            95
2          102       Chris P.   NaN    MALE    10         NaN       missing
3          103     jane smith  16.0  FEMALE    10         NaN       missing
4          104    Sara O'Neil  16.0    male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       ali Khan  17.0  female    11        64.0           NaN
7          107    Sara O'Neil  17.0  female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  female    12         NaN       missing
10         110      lucy gray  17.0    male  11th        65.0            67
11         111   Simran Singh  16.0  FEMALE  11th         NaN       missing
12         112       Patel R.  17.0  female    11         NaN            87
13         113       Patel R.  17.0    male    10         NaN           NaN
14         114       Ali Khan  17.0    male    12         NaN            91
15         115      Lucy gray  16.0  Female    12        65.0            91
16         116       Chris P.   NaN  Female    11         NaN           NaN
17         117       Ali Khan  18.0    male  11th        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    MALE  11th        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  female    11        66.0            72
22         122    Sara O'Neil  17.0    MALE  11th        75.0           NaN
23         123     jane smith  17.0  Female  11th         NaN       missing
24         124       John Doe  18.0    MALE  11th         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe   NaN    Male  10th        64.0       missing
27         127   Simran Singh  16.0  FEMALE    12         NaN            76
28         128    Sara O'Neil  17.0  female    11         NaN            64
29         129       Patel R.  17.0    male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [10]:
# check null values
# if return false => there is no null value
# if return true => there is null value
df.isnull()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False
5,False,False,False,False,False,True,True,False,False,False
6,False,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,True,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,True,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,True,False,False,False,False
12,False,False,False,False,False,True,False,False,False,False
13,False,False,False,False,False,True,True,False,False,False
14,False,False,False,False,False,True,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,True,False,False,True,True,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,True,False,False,False
20,False,False,False,False,False,True,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,True,False,False,False
23,False,False,False,False,False,True,False,False,False,False
24,False,False,False,False,False,True,True,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,True,False,False,False,False,False,False,False
27,False,False,False,False,False,True,False,False,False,False
28,False,False,False,False,False,True,False,False,False,False
29,False,False,False,False,False,True,False,False,False,False

In [11]:
# count total null values
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       17
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

Now here clean data column by column

In [ ]:
#for name column 
# this is un structure name column
df["name"]

0        jane smith
1          John Doe
2          Chris P.
3        jane smith
4       Sara O'Neil
5     Mike O’Reilly
6          ali Khan
7       Sara O'Neil
8     Mike O’Reilly
9      Robert Brown
10        lucy gray
11     Simran Singh
12         Patel R.
13         Patel R.
14         Ali Khan
15        Lucy gray
16         Chris P.
17         Ali Khan
18     Simran Singh
19         Patel R.
20      Sara O'Neil
21         John Doe
22      Sara O'Neil
23       jane smith
24         John Doe
25    Mike O’Reilly
26         John Doe
27     Simran Singh
28      Sara O'Neil
29         Patel R.
Name: name, dtype: object

In [13]:
# do capital letter of whole name
df["name"].str.lower().str.title()

0        Jane Smith
1          John Doe
2          Chris P.
3        Jane Smith
4       Sara O'Neil
5     Mike O’Reilly
6          Ali Khan
7       Sara O'Neil
8     Mike O’Reilly
9      Robert Brown
10        Lucy Gray
11     Simran Singh
12         Patel R.
13         Patel R.
14         Ali Khan
15        Lucy Gray
16         Chris P.
17         Ali Khan
18     Simran Singh
19         Patel R.
20      Sara O'Neil
21         John Doe
22      Sara O'Neil
23       Jane Smith
24         John Doe
25    Mike O’Reilly
26         John Doe
27     Simran Singh
28      Sara O'Neil
29         Patel R.
Name: name, dtype: object

In [14]:
# update this modified column in original data set
df.loc[:, "name"] = df["name"].str.lower().str.title()
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  female    11        75.0           NaN
1          101       John Doe  16.0    Male  10th        74.0            95
2          102       Chris P.   NaN    MALE    10         NaN       missing
3          103     Jane Smith  16.0  FEMALE    10         NaN       missing
4          104    Sara O'Neil  16.0    male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       Ali Khan  17.0  female    11        64.0           NaN
7          107    Sara O'Neil  17.0  female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  female    12         NaN       missing
10         110      Lucy Gray  17.0    male  11th        65.0            67
11         111   Simran Singh  16.0  FEMALE  11th         NaN       missing
12         112       Patel R.  17.0  female    11         NaN            87
13         113       Patel R.  17.0    male    10         NaN           NaN
14         114       Ali Khan  17.0    male    12         NaN            91
15         115      Lucy Gray  16.0  Female    12        65.0            91
16         116       Chris P.   NaN  Female    11         NaN           NaN
17         117       Ali Khan  18.0    male  11th        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    MALE  11th        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  female    11        66.0            72
22         122    Sara O'Neil  17.0    MALE  11th        75.0           NaN
23         123     Jane Smith  17.0  Female  11th         NaN       missing
24         124       John Doe  18.0    MALE  11th         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe   NaN    Male  10th        64.0       missing
27         127   Simran Singh  16.0  FEMALE    12         NaN            76
28         128    Sara O'Neil  17.0  female    11         NaN            64
29         129       Patel R.  17.0    male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [15]:
# for age column
df["age"]

0     16.0
1     16.0
2      NaN
3     16.0
4     16.0
5     16.0
6     17.0
7     17.0
8     16.0
9     17.0
10    17.0
11    16.0
12    17.0
13    17.0
14    17.0
15    16.0
16     NaN
17    18.0
18    17.0
19    17.0
20    17.0
21    18.0
22    17.0
23    17.0
24    18.0
25    17.0
26     NaN
27    16.0
28    17.0
29    17.0
Name: age, dtype: float64

In [16]:
# check total null values
df["age"].isnull().sum()

np.int64(3)

In [17]:
# show unique value
df["age"].unique()

array([16., nan, 17., 18.])

In [18]:
# find out mean of age
age_mean = df["age"].mean().round() # round() converted decimal value into zero
print(age_mean)

17.0

In [19]:
# fill mean value instead of NaN value
df["age"].fillna(age_mean)

0     16.0
1     16.0
2     17.0
3     16.0
4     16.0
5     16.0
6     17.0
7     17.0
8     16.0
9     17.0
10    17.0
11    16.0
12    17.0
13    17.0
14    17.0
15    16.0
16    17.0
17    18.0
18    17.0
19    17.0
20    17.0
21    18.0
22    17.0
23    17.0
24    18.0
25    17.0
26    17.0
27    16.0
28    17.0
29    17.0
Name: age, dtype: float64

In [20]:
# update age column in original data set
df.loc[:, "age"] = df["age"].fillna(age_mean)
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  female    11        75.0           NaN
1          101       John Doe  16.0    Male  10th        74.0            95
2          102       Chris P.  17.0    MALE    10         NaN       missing
3          103     Jane Smith  16.0  FEMALE    10         NaN       missing
4          104    Sara O'Neil  16.0    male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       Ali Khan  17.0  female    11        64.0           NaN
7          107    Sara O'Neil  17.0  female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  female    12         NaN       missing
10         110      Lucy Gray  17.0    male  11th        65.0            67
11         111   Simran Singh  16.0  FEMALE  11th         NaN       missing
12         112       Patel R.  17.0  female    11         NaN            87
13         113       Patel R.  17.0    male    10         NaN           NaN
14         114       Ali Khan  17.0    male    12         NaN            91
15         115      Lucy Gray  16.0  Female    12        65.0            91
16         116       Chris P.  17.0  Female    11         NaN           NaN
17         117       Ali Khan  18.0    male  11th        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    MALE  11th        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  female    11        66.0            72
22         122    Sara O'Neil  17.0    MALE  11th        75.0           NaN
23         123     Jane Smith  17.0  Female  11th         NaN       missing
24         124       John Doe  18.0    MALE  11th         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe  17.0    Male  10th        64.0       missing
27         127   Simran Singh  16.0  FEMALE    12         NaN            76
28         128    Sara O'Neil  17.0  female    11         NaN            64
29         129       Patel R.  17.0    male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [21]:
# for gender column
df["gender"]

0     female
1       Male
2       MALE
3     FEMALE
4       male
5     Female
6     female
7     female
8     Female
9     female
10      male
11    FEMALE
12    female
13      male
14      male
15    Female
16    Female
17      male
18      Male
19      MALE
20      Male
21    female
22      MALE
23    Female
24      MALE
25      Male
26      Male
27    FEMALE
28    female
29      male
Name: gender, dtype: object

In [23]:
#check total null value
df["gender"].isnull().sum()

np.int64(0)

In [24]:
#check unique value for understand
df["gender"].unique()

array(['female', 'Male', 'MALE', 'FEMALE', 'male', 'Female'], dtype=object)

In [25]:
# do first letter capital of gender column
df["gender"].str.lower().str.title()

0     Female
1       Male
2       Male
3     Female
4       Male
5     Female
6     Female
7     Female
8     Female
9     Female
10      Male
11    Female
12    Female
13      Male
14      Male
15    Female
16    Female
17      Male
18      Male
19      Male
20      Male
21    Female
22      Male
23    Female
24      Male
25      Male
26      Male
27    Female
28    Female
29      Male
Name: gender, dtype: object

In [26]:
#update this column in original data set
df.loc[:, "gender"] = df["gender"].str.lower().str.title()
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0           NaN
1          101       John Doe  16.0    Male  10th        74.0            95
2          102       Chris P.  17.0    Male    10         NaN       missing
3          103     Jane Smith  16.0  Female    10         NaN       missing
4          104    Sara O'Neil  16.0    Male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       Ali Khan  17.0  Female    11        64.0           NaN
7          107    Sara O'Neil  17.0  Female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  Female    12         NaN       missing
10         110      Lucy Gray  17.0    Male  11th        65.0            67
11         111   Simran Singh  16.0  Female  11th         NaN       missing
12         112       Patel R.  17.0  Female    11         NaN            87
13         113       Patel R.  17.0    Male    10         NaN           NaN
14         114       Ali Khan  17.0    Male    12         NaN            91
15         115      Lucy Gray  16.0  Female    12        65.0            91
16         116       Chris P.  17.0  Female    11         NaN           NaN
17         117       Ali Khan  18.0    Male  11th        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    Male  11th        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  Female    11        66.0            72
22         122    Sara O'Neil  17.0    Male  11th        75.0           NaN
23         123     Jane Smith  17.0  Female  11th         NaN       missing
24         124       John Doe  18.0    Male  11th         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe  17.0    Male  10th        64.0       missing
27         127   Simran Singh  16.0  Female    12         NaN            76
28         128    Sara O'Neil  17.0  Female    11         NaN            64
29         129       Patel R.  17.0    Male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [27]:
# for grade column
df["grade"]

0       11
1     10th
2       10
3       10
4       11
5       10
6       11
7       12
8       12
9       12
10    11th
11    11th
12      11
13      10
14      12
15      12
16      11
17    11th
18      10
19    11th
20      10
21      11
22    11th
23    11th
24    11th
25      12
26    10th
27      12
28      11
29      11
Name: grade, dtype: object

In [28]:
#check unique value
df["grade"].unique()

array(['11', '10th', '10', '12', '11th'], dtype=object)

In [29]:
# replace 10th to 10
df["grade"].replace({'10th': '10', '11th': '11', '12th': '12'})

0     11
1     10
2     10
3     10
4     11
5     10
6     11
7     12
8     12
9     12
10    11
11    11
12    11
13    10
14    12
15    12
16    11
17    11
18    10
19    11
20    10
21    11
22    11
23    11
24    11
25    12
26    10
27    12
28    11
29    11
Name: grade, dtype: object

In [31]:
#update this column in original data set
df.loc[:, "grade"] = df["grade"].replace({'10th': '10', '11th': '11', '12th': '12'})
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0           NaN
1          101       John Doe  16.0    Male    10        74.0            95
2          102       Chris P.  17.0    Male    10         NaN       missing
3          103     Jane Smith  16.0  Female    10         NaN       missing
4          104    Sara O'Neil  16.0    Male    11         NaN            96
5          105  Mike O’Reilly  16.0  Female    10         NaN           NaN
6          106       Ali Khan  17.0  Female    11        64.0           NaN
7          107    Sara O'Neil  17.0  Female    12         NaN            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  Female    12         NaN       missing
10         110      Lucy Gray  17.0    Male    11        65.0            67
11         111   Simran Singh  16.0  Female    11         NaN       missing
12         112       Patel R.  17.0  Female    11         NaN            87
13         113       Patel R.  17.0    Male    10         NaN           NaN
14         114       Ali Khan  17.0    Male    12         NaN            91
15         115      Lucy Gray  16.0  Female    12        65.0            91
16         116       Chris P.  17.0  Female    11         NaN           NaN
17         117       Ali Khan  18.0    Male    11        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    Male    11        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10         NaN       missing
21         121       John Doe  18.0  Female    11        66.0            72
22         122    Sara O'Neil  17.0    Male    11        75.0           NaN
23         123     Jane Smith  17.0  Female    11         NaN       missing
24         124       John Doe  18.0    Male    11         NaN           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe  17.0    Male    10        64.0       missing
27         127   Simran Singh  16.0  Female    12         NaN            76
28         128    Sara O'Neil  17.0  Female    11         NaN            64
29         129       Patel R.  17.0    Male    11         NaN            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [32]:
# for math_score clumn
df["math_score"]

0      75.0
1      74.0
2       NaN
3       NaN
4       NaN
5       NaN
6      64.0
7       NaN
8      80.0
9       NaN
10     65.0
11      NaN
12      NaN
13      NaN
14      NaN
15     65.0
16      NaN
17     67.0
18    100.0
19     73.0
20      NaN
21     66.0
22     75.0
23      NaN
24      NaN
25     94.0
26     64.0
27      NaN
28      NaN
29      NaN
Name: math_score, dtype: float64

In [33]:
# check total null values
df["math_score"].isnull().sum()

np.int64(17)

In [34]:
# show unique value
df["math_score"].unique()

array([ 75.,  74.,  nan,  64.,  80.,  65.,  67., 100.,  73.,  66.,  94.])

In [35]:
#find out mean
math_mean = df["math_score"].mean()
print(math_mean)

74.0

In [36]:
# fill math_mean value instead of NaN value
df["math_score"].fillna(math_mean)

0      75.0
1      74.0
2      74.0
3      74.0
4      74.0
5      74.0
6      64.0
7      74.0
8      80.0
9      74.0
10     65.0
11     74.0
12     74.0
13     74.0
14     74.0
15     65.0
16     74.0
17     67.0
18    100.0
19     73.0
20     74.0
21     66.0
22     75.0
23     74.0
24     74.0
25     94.0
26     64.0
27     74.0
28     74.0
29     74.0
Name: math_score, dtype: float64

In [37]:
#update this column into original data set
df.loc[:, "math_score"] = df["math_score"].fillna(math_mean)
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0           NaN
1          101       John Doe  16.0    Male    10        74.0            95
2          102       Chris P.  17.0    Male    10        74.0       missing
3          103     Jane Smith  16.0  Female    10        74.0       missing
4          104    Sara O'Neil  16.0    Male    11        74.0            96
5          105  Mike O’Reilly  16.0  Female    10        74.0           NaN
6          106       Ali Khan  17.0  Female    11        64.0           NaN
7          107    Sara O'Neil  17.0  Female    12        74.0            63
8          108  Mike O’Reilly  16.0  Female    12        80.0       missing
9          109   Robert Brown  17.0  Female    12        74.0       missing
10         110      Lucy Gray  17.0    Male    11        65.0            67
11         111   Simran Singh  16.0  Female    11        74.0       missing
12         112       Patel R.  17.0  Female    11        74.0            87
13         113       Patel R.  17.0    Male    10        74.0           NaN
14         114       Ali Khan  17.0    Male    12        74.0            91
15         115      Lucy Gray  16.0  Female    12        65.0            91
16         116       Chris P.  17.0  Female    11        74.0           NaN
17         117       Ali Khan  18.0    Male    11        67.0            74
18         118   Simran Singh  17.0    Male    10       100.0            74
19         119       Patel R.  17.0    Male    11        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10        74.0       missing
21         121       John Doe  18.0  Female    11        66.0            72
22         122    Sara O'Neil  17.0    Male    11        75.0           NaN
23         123     Jane Smith  17.0  Female    11        74.0       missing
24         124       John Doe  18.0    Male    11        74.0           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0            80
26         126       John Doe  17.0    Male    10        64.0       missing
27         127   Simran Singh  16.0  Female    12        74.0            76
28         128    Sara O'Neil  17.0  Female    11        74.0            64
29         129       Patel R.  17.0    Male    11        74.0            64

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [38]:
# for english_score column
df["english_score"]

0         NaN
1          95
2     missing
3     missing
4          96
5         NaN
6         NaN
7          63
8     missing
9     missing
10         67
11    missing
12         87
13        NaN
14         91
15         91
16        NaN
17         74
18         74
19        NaN
20    missing
21         72
22        NaN
23    missing
24        NaN
25         80
26    missing
27         76
28         64
29         64
Name: english_score, dtype: object

In [39]:
#check total null value
df["english_score"].isnull().sum()

np.int64(8)

In [40]:
# show unique value
df["english_score"].unique()

array([nan, '95', 'missing', '96', '63', '67', '87', '91', '74', '72',
       '80', '76', '64'], dtype=object)

In [42]:
# firs convert missing str to NaN value
pd.to_numeric(df["english_score"], errors='coerce')

0      NaN
1     95.0
2      NaN
3      NaN
4     96.0
5      NaN
6      NaN
7     63.0
8      NaN
9      NaN
10    67.0
11     NaN
12    87.0
13     NaN
14    91.0
15    91.0
16     NaN
17    74.0
18    74.0
19     NaN
20     NaN
21    72.0
22     NaN
23     NaN
24     NaN
25    80.0
26     NaN
27    76.0
28    64.0
29    64.0
Name: english_score, dtype: float64

In [43]:
# update into original data set
df.loc[:, "english_score"] = pd.to_numeric(df["english_score"], errors='coerce') 
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0           NaN
1          101       John Doe  16.0    Male    10        74.0          95.0
2          102       Chris P.  17.0    Male    10        74.0           NaN
3          103     Jane Smith  16.0  Female    10        74.0           NaN
4          104    Sara O'Neil  16.0    Male    11        74.0          96.0
5          105  Mike O’Reilly  16.0  Female    10        74.0           NaN
6          106       Ali Khan  17.0  Female    11        64.0           NaN
7          107    Sara O'Neil  17.0  Female    12        74.0          63.0
8          108  Mike O’Reilly  16.0  Female    12        80.0           NaN
9          109   Robert Brown  17.0  Female    12        74.0           NaN
10         110      Lucy Gray  17.0    Male    11        65.0          67.0
11         111   Simran Singh  16.0  Female    11        74.0           NaN
12         112       Patel R.  17.0  Female    11        74.0          87.0
13         113       Patel R.  17.0    Male    10        74.0           NaN
14         114       Ali Khan  17.0    Male    12        74.0          91.0
15         115      Lucy Gray  16.0  Female    12        65.0          91.0
16         116       Chris P.  17.0  Female    11        74.0           NaN
17         117       Ali Khan  18.0    Male    11        67.0          74.0
18         118   Simran Singh  17.0    Male    10       100.0          74.0
19         119       Patel R.  17.0    Male    11        73.0           NaN
20         120    Sara O'Neil  17.0    Male    10        74.0           NaN
21         121       John Doe  18.0  Female    11        66.0          72.0
22         122    Sara O'Neil  17.0    Male    11        75.0           NaN
23         123     Jane Smith  17.0  Female    11        74.0           NaN
24         124       John Doe  18.0    Male    11        74.0           NaN
25         125  Mike O’Reilly  17.0    Male    12        94.0          80.0
26         126       John Doe  17.0    Male    10        64.0           NaN
27         127   Simran Singh  16.0  Female    12        74.0          76.0
28         128    Sara O'Neil  17.0  Female    11        74.0          64.0
29         129       Patel R.  17.0    Male    11        74.0          64.0

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

In [44]:
# find out mean
eng_mean = df["english_score"].mean().round()
print(eng_mean)

78.0

In [45]:
# fill eng_mean value instead of NaN
df["english_score"].fillna(eng_mean)

C:\Users\araza\AppData\Local\Temp\ipykernel_19744\4145484916.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["english_score"].fillna(eng_mean)

0     78.0
1     95.0
2     78.0
3     78.0
4     96.0
5     78.0
6     78.0
7     63.0
8     78.0
9     78.0
10    67.0
11    78.0
12    87.0
13    78.0
14    91.0
15    91.0
16    78.0
17    74.0
18    74.0
19    78.0
20    78.0
21    72.0
22    78.0
23    78.0
24    78.0
25    80.0
26    78.0
27    76.0
28    64.0
29    64.0
Name: english_score, dtype: float64

In [46]:
# update this column into original data set
df.loc[:, "english_score"] = df["english_score"].fillna(eng_mean)
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0          78.0
1          101       John Doe  16.0    Male    10        74.0          95.0
2          102       Chris P.  17.0    Male    10        74.0          78.0
3          103     Jane Smith  16.0  Female    10        74.0          78.0
4          104    Sara O'Neil  16.0    Male    11        74.0          96.0
5          105  Mike O’Reilly  16.0  Female    10        74.0          78.0
6          106       Ali Khan  17.0  Female    11        64.0          78.0
7          107    Sara O'Neil  17.0  Female    12        74.0          63.0
8          108  Mike O’Reilly  16.0  Female    12        80.0          78.0
9          109   Robert Brown  17.0  Female    12        74.0          78.0
10         110      Lucy Gray  17.0    Male    11        65.0          67.0
11         111   Simran Singh  16.0  Female    11        74.0          78.0
12         112       Patel R.  17.0  Female    11        74.0          87.0
13         113       Patel R.  17.0    Male    10        74.0          78.0
14         114       Ali Khan  17.0    Male    12        74.0          91.0
15         115      Lucy Gray  16.0  Female    12        65.0          91.0
16         116       Chris P.  17.0  Female    11        74.0          78.0
17         117       Ali Khan  18.0    Male    11        67.0          74.0
18         118   Simran Singh  17.0    Male    10       100.0          74.0
19         119       Patel R.  17.0    Male    11        73.0          78.0
20         120    Sara O'Neil  17.0    Male    10        74.0          78.0
21         121       John Doe  18.0  Female    11        66.0          72.0
22         122    Sara O'Neil  17.0    Male    11        75.0          78.0
23         123     Jane Smith  17.0  Female    11        74.0          78.0
24         124       John Doe  18.0    Male    11        74.0          78.0
25         125  Mike O’Reilly  17.0    Male    12        94.0          80.0
26         126       John Doe  17.0    Male    10        64.0          78.0
27         127   Simran Singh  16.0  Female    12        74.0          76.0
28         128    Sara O'Neil  17.0  Female    11        74.0          64.0
29         129       Patel R.  17.0    Male    11        74.0          64.0

    science_score enrolled_date            remarks
0              66    2022-06-10          excellent
1              94    10-06-2022               GOOD
2              69    06/12/2022  needs improvement
3              62    10-06-2022            average
4              64    2022-06-10               GOOD
5              83    06/12/2022  needs improvement
6              75    06/12/2022               Good
7              62    2022/06/11          excellent
8              89    06/12/2022               poor
9              97    10-06-2022  needs improvement
10            100    06/12/2022          excellent
11             95    2022-06-10            average
12             89    2022-06-10               poor
13             98    06/12/2022            Average
14             67    2022/06/11               poor
15             94    06/12/2022            Average
16             72    2022/06/11          excellent
17             81    2022-06-10               GOOD
18             62    2022/06/11            average
19             90    06/12/2022               Good
20             89    2022-06-10            average
21             94    10-06-2022            Average
22             66    2022-06-10       good student
23             63    06/12/2022          excellent
24             91    06/12/2022               GOOD
25             63    10-06-2022            Average
26             67    06/12/2022       good student
27             80    06/12/2022               poor
28             89    2022-06-10            average
29             83    2022/06/11            Average

C:\Users\araza\AppData\Local\Temp\ipykernel_19744\725011226.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[:, "english_score"] = df["english_score"].fillna(eng_mean)

In [47]:
# for enroll date column
df["enrolled_date"]

0     2022-06-10
1     10-06-2022
2     06/12/2022
3     10-06-2022
4     2022-06-10
5     06/12/2022
6     06/12/2022
7     2022/06/11
8     06/12/2022
9     10-06-2022
10    06/12/2022
11    2022-06-10
12    2022-06-10
13    06/12/2022
14    2022/06/11
15    06/12/2022
16    2022/06/11
17    2022-06-10
18    2022/06/11
19    06/12/2022
20    2022-06-10
21    10-06-2022
22    2022-06-10
23    06/12/2022
24    06/12/2022
25    10-06-2022
26    06/12/2022
27    06/12/2022
28    2022-06-10
29    2022/06/11
Name: enrolled_date, dtype: object

In [48]:
# check unique value
df["enrolled_date"].unique()

array(['2022-06-10', '10-06-2022', '06/12/2022', '2022/06/11'],
      dtype=object)

In [49]:
date_dict = {
  '2022-06-10': '10-06-2022', 
  '06/12/2022': '12-06-2022', 
  '2022/06/11': '11-06-2022'
}

In [50]:
df["enrolled_date"].replace(date_dict)

0     10-06-2022
1     10-06-2022
2     12-06-2022
3     10-06-2022
4     10-06-2022
5     12-06-2022
6     12-06-2022
7     11-06-2022
8     12-06-2022
9     10-06-2022
10    12-06-2022
11    10-06-2022
12    10-06-2022
13    12-06-2022
14    11-06-2022
15    12-06-2022
16    11-06-2022
17    10-06-2022
18    11-06-2022
19    12-06-2022
20    10-06-2022
21    10-06-2022
22    10-06-2022
23    12-06-2022
24    12-06-2022
25    10-06-2022
26    12-06-2022
27    12-06-2022
28    10-06-2022
29    11-06-2022
Name: enrolled_date, dtype: object

In [51]:
# update this column into original data set
df.loc[:, "enrolled_date"] = df["enrolled_date"].replace(date_dict)
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0          78.0
1          101       John Doe  16.0    Male    10        74.0          95.0
2          102       Chris P.  17.0    Male    10        74.0          78.0
3          103     Jane Smith  16.0  Female    10        74.0          78.0
4          104    Sara O'Neil  16.0    Male    11        74.0          96.0
5          105  Mike O’Reilly  16.0  Female    10        74.0          78.0
6          106       Ali Khan  17.0  Female    11        64.0          78.0
7          107    Sara O'Neil  17.0  Female    12        74.0          63.0
8          108  Mike O’Reilly  16.0  Female    12        80.0          78.0
9          109   Robert Brown  17.0  Female    12        74.0          78.0
10         110      Lucy Gray  17.0    Male    11        65.0          67.0
11         111   Simran Singh  16.0  Female    11        74.0          78.0
12         112       Patel R.  17.0  Female    11        74.0          87.0
13         113       Patel R.  17.0    Male    10        74.0          78.0
14         114       Ali Khan  17.0    Male    12        74.0          91.0
15         115      Lucy Gray  16.0  Female    12        65.0          91.0
16         116       Chris P.  17.0  Female    11        74.0          78.0
17         117       Ali Khan  18.0    Male    11        67.0          74.0
18         118   Simran Singh  17.0    Male    10       100.0          74.0
19         119       Patel R.  17.0    Male    11        73.0          78.0
20         120    Sara O'Neil  17.0    Male    10        74.0          78.0
21         121       John Doe  18.0  Female    11        66.0          72.0
22         122    Sara O'Neil  17.0    Male    11        75.0          78.0
23         123     Jane Smith  17.0  Female    11        74.0          78.0
24         124       John Doe  18.0    Male    11        74.0          78.0
25         125  Mike O’Reilly  17.0    Male    12        94.0          80.0
26         126       John Doe  17.0    Male    10        64.0          78.0
27         127   Simran Singh  16.0  Female    12        74.0          76.0
28         128    Sara O'Neil  17.0  Female    11        74.0          64.0
29         129       Patel R.  17.0    Male    11        74.0          64.0

    science_score enrolled_date            remarks
0              66    10-06-2022          excellent
1              94    10-06-2022               GOOD
2              69    12-06-2022  needs improvement
3              62    10-06-2022            average
4              64    10-06-2022               GOOD
5              83    12-06-2022  needs improvement
6              75    12-06-2022               Good
7              62    11-06-2022          excellent
8              89    12-06-2022               poor
9              97    10-06-2022  needs improvement
10            100    12-06-2022          excellent
11             95    10-06-2022            average
12             89    10-06-2022               poor
13             98    12-06-2022            Average
14             67    11-06-2022               poor
15             94    12-06-2022            Average
16             72    11-06-2022          excellent
17             81    10-06-2022               GOOD
18             62    11-06-2022            average
19             90    12-06-2022               Good
20             89    10-06-2022            average
21             94    10-06-2022            Average
22             66    10-06-2022       good student
23             63    12-06-2022          excellent
24             91    12-06-2022               GOOD
25             63    10-06-2022            Average
26             67    12-06-2022       good student
27             80    12-06-2022               poor
28             89    10-06-2022            average
29             83    11-06-2022            Average

In [52]:
# for remarks column
df["remarks"]

0             excellent
1                  GOOD
2     needs improvement
3               average
4                  GOOD
5     needs improvement
6                  Good
7             excellent
8                  poor
9     needs improvement
10            excellent
11              average
12                 poor
13              Average
14                 poor
15              Average
16            excellent
17                 GOOD
18              average
19                 Good
20              average
21              Average
22         good student
23            excellent
24                 GOOD
25              Average
26         good student
27                 poor
28              average
29              Average
Name: remarks, dtype: object

In [ ]:
#check unique value
df["remarks"].unique()

array(['excellent', 'GOOD', 'needs improvement', 'average', 'Good',
       'poor', 'Average', 'good student'], dtype=object)

In [ ]:
#make new_remarks dictionary
new_remark = {'excellent': 'Excellent',
'GOOD': 'Good',
'needs improvement': 'Need Improvement',
'average': "Average",
'Good': "Good",
'poor': "Poor", 
'Average': 'Average', 
'good student': 'Good Student'
}

In [55]:
df["remarks"].replace(new_remark)

0            Excellent
1                 Good
2     Need Improvement
3              Average
4                 Good
5     Need Improvement
6                 Good
7            Excellent
8                 Poor
9     Need Improvement
10           Excellent
11             Average
12                Poor
13             Average
14                Poor
15             Average
16           Excellent
17                Good
18             Average
19                Good
20             Average
21             Average
22        Good Student
23           Excellent
24                Good
25             Average
26        Good Student
27                Poor
28             Average
29             Average
Name: remarks, dtype: object

In [ ]:
#update in original data set
df.loc[:, "remarks"] = df["remarks"].replace(new_remark)
print(df)

    student_id           name   age  gender grade  math_score english_score  \
0          100     Jane Smith  16.0  Female    11        75.0          78.0
1          101       John Doe  16.0    Male    10        74.0          95.0
2          102       Chris P.  17.0    Male    10        74.0          78.0
3          103     Jane Smith  16.0  Female    10        74.0          78.0
4          104    Sara O'Neil  16.0    Male    11        74.0          96.0
5          105  Mike O’Reilly  16.0  Female    10        74.0          78.0
6          106       Ali Khan  17.0  Female    11        64.0          78.0
7          107    Sara O'Neil  17.0  Female    12        74.0          63.0
8          108  Mike O’Reilly  16.0  Female    12        80.0          78.0
9          109   Robert Brown  17.0  Female    12        74.0          78.0
10         110      Lucy Gray  17.0    Male    11        65.0          67.0
11         111   Simran Singh  16.0  Female    11        74.0          78.0
12         112       Patel R.  17.0  Female    11        74.0          87.0
13         113       Patel R.  17.0    Male    10        74.0          78.0
14         114       Ali Khan  17.0    Male    12        74.0          91.0
15         115      Lucy Gray  16.0  Female    12        65.0          91.0
16         116       Chris P.  17.0  Female    11        74.0          78.0
17         117       Ali Khan  18.0    Male    11        67.0          74.0
18         118   Simran Singh  17.0    Male    10       100.0          74.0
19         119       Patel R.  17.0    Male    11        73.0          78.0
20         120    Sara O'Neil  17.0    Male    10        74.0          78.0
21         121       John Doe  18.0  Female    11        66.0          72.0
22         122    Sara O'Neil  17.0    Male    11        75.0          78.0
23         123     Jane Smith  17.0  Female    11        74.0          78.0
24         124       John Doe  18.0    Male    11        74.0          78.0
25         125  Mike O’Reilly  17.0    Male    12        94.0          80.0
26         126       John Doe  17.0    Male    10        64.0          78.0
27         127   Simran Singh  16.0  Female    12        74.0          76.0
28         128    Sara O'Neil  17.0  Female    11        74.0          64.0
29         129       Patel R.  17.0    Male    11        74.0          64.0

    science_score enrolled_date           remarks
0              66    10-06-2022         Excellent
1              94    10-06-2022              Good
2              69    12-06-2022  Need Improvement
3              62    10-06-2022           Average
4              64    10-06-2022              Good
5              83    12-06-2022  Need Improvement
6              75    12-06-2022              Good
7              62    11-06-2022         Excellent
8              89    12-06-2022              Poor
9              97    10-06-2022  Need Improvement
10            100    12-06-2022         Excellent
11             95    10-06-2022           Average
12             89    10-06-2022              Poor
13             98    12-06-2022           Average
14             67    11-06-2022              Poor
15             94    12-06-2022           Average
16             72    11-06-2022         Excellent
17             81    10-06-2022              Good
18             62    11-06-2022           Average
19             90    12-06-2022              Good
20             89    10-06-2022           Average
21             94    10-06-2022           Average
22             66    10-06-2022      Good Student
23             63    12-06-2022         Excellent
24             91    12-06-2022              Good
25             63    10-06-2022           Average
26             67    12-06-2022      Good Student
27             80    12-06-2022              Poor
28             89    10-06-2022           Average
29             83    11-06-2022           Average

In [57]:
df.isnull().sum()

student_id       0
name             0
age              0
gender           0
grade            0
math_score       0
english_score    0
science_score    0
enrolled_date    0
remarks          0
dtype: int64

In [58]:
# for save into cean csv file
df.to_csv("clean-student-data.csv", index=False)